<div class="features-wrapper one">
    <div class="container">
      <div class="section-name one">
        <h2>รายละเอียดห้อง : {{detail.roomName}}</h2>
          <div class="row">
              <table wt-responsive-table>
                <tr>
                    <td style="text-align: right;width: 200px"><h4>ชื่อ : </h4></td>
                    <td style="text-align: left;"><p>{{detail.roomName}}</p></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><h4>ที่อยู่ : </h4></td>
                    <td style="text-align: left;"><p>{{detail.address}}</p></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><h4>ขนาดห้อง : </h4></td>
                    <td style="text-align: left;"><p>{{detail.roomSize}}</p></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><h4>ราคา : </h4></td>
                    <td style="text-align: left;"><p>{{detail.price | number:0}} บาท/เดือน</p></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><h4>มัดจำ : </h4></td>
                    <td style="text-align: left;"><p>{{detail.deposit}}</p></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><h4>Tel : </h4></td>
                    <td style="text-align: left;"><p>{{detail.tel}}</p></td>
                </tr>
          </table>
          </div>
          <br>
          <hr class="style13">
          <div class="row">
              <flex-slider class="carousel" slide="s in slides" animation="slide" animation-loop="false" item-width="385" item-margin="5" maxItems="5" minItems="1" touch="true" slideshow="false">
                <li ng-click="imageClick(s)">
                  <a><img err-src="/assets/img/No_Image.gif"  ng-src="{{s}}"></a>
                </li>
              </flex-slider>
          </div>
      </div>

      <div class="row features">
          <div class="col-md-3 right">
              <button type="button" class="btn btn-default" ng-click="reserveRoom()">
                <i class="fa fa-reddit-alien" aria-hidden="true"></i>
                  จอง
              </button>
           </div>
           <div class="col-md-6 right">
              <button type="button" class="btn btn-default" ui-sref="app.search">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  กลับ
              </button>
           </div>
           </div>
    </div>
  </div>

  <script type="text/ng-template" id="imagePopup.html">
    
    <div class="modal-body" id="modal-body">
      <div class="col" style="text-align:center">
          <img err-src="/assets/img/No_Image.gif" ng-src="{{selectImg}}" style="max-width: 100%"/>
      </div>
    </div>
    
</script>