table, th , td  {
  border: 0px solid grey;
  border-collapse: collapse;
  padding: 5px;
  box-shadow: 0 5px 5px -5px #8c8b8b inset;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}