<!-- header -->

<header>
<nav class="navbar yamm navbar-default navbar-fixed-top navigation" role="navigation">

	<div class="navbar-header logo-wrap" >
      <button  type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Copacabana</a>
    </div>
	 <div id="navbar-collapse-1" class="navbar-collapse collapse menu-new-wrap">
        <ul class="nav navbar-nav new-menu">
            <!-- Classic list -->
            <li>
              	<a ui-sref="app.search">Search</a>
            </li>
            <li>
              	<a ui-sref="app.payment">Payment</a>
            </li>
            <li>
              	<a href="#">Report</a>
            </li>
           
        </ul>
        <ul class="nav navbar-nav new-menu pull-right">
           <li class="pull-right">
                <button ng-click="login()" class="btn btn-link" type="button">Login</button>
            </li>
        </ul>
	</div>
</nav>
</header>
<div class="container">
      <div ui-view="app"></div>
</div>
<!-- Footer -->
<footer class="footer">
<div class="footer-bar">
	<div class="container">
		<h5>Copyright ©2017 Copacabana. All Rights Reserved</h5>
	</div>
</div>
</footer>
<script type="text/ng-template" id="myModalContent.html">
    
    <div class="modal-body" id="modal-body">
      <div class="col">
        <div class="logmod__form">
          <form accept-charset="utf-8" action="#" class="simform">
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Username*</label>
                <input class="string optional" maxlength="255" id="user-email" placeholder="Email" type="email" size="50" />
              </div>
            </div>
            <div class="sminputs">
              <div class="input string optional">
                <label class="string optional" for="user-pw">Password *</label>
                <input class="string optional" maxlength="255" id="user-pw" placeholder="Password" type="text" size="50" />
              </div>
              <div class="input string optional">
                <label class="string optional" for="user-pw-repeat">Repeat password *</label>
                <input class="string optional" maxlength="255" id="user-pw-repeat" placeholder="Repeat password" type="text" size="50" />
              </div>
            </div>
            <div class="simform__actions">
              <input class="sumbit" name="commit" type="sumbit" value="Create Account" />
              <span class="simform__actions-sidetext">By creating an account you agree to our <a class="special" href="#" target="_blank" role="link">Terms & Privacy</a></span>
            </div> 
          </form>
        </div> 
        <div class="logmod__alter">
          <div class="logmod__alter-container">
            <a ng-click="facebookLogin()" href="#" class="connect facebook">
              <div class="connect__icon">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="connect__context">
                <span>Create an account with <strong>Facebook</strong></span>
              </div>
            </a>
              
            <a href="#" class="connect googleplus">
              <div class="connect__icon">
                <i class="fa fa-google-plus"></i>
              </div>
              <div class="connect__context">
                <span>Create an account with <strong>Google+</strong></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
</script>
<script type="text/ng-template" id="signUpModal.html">
    
    <div class="modal-body" id="modal-body">
      <div class="col">
        <div class="logmod__form">
          <form accept-charset="utf-8" class="simform">
            <div class="sminputs">
              <div class="input full">
                <label class="string optional" for="user-name">Username*</label>
                <input class="string optional" maxlength="255" id="user-email"  type="email" size="50" ng-model="signUpForm.userName"/>
              </div>
            </div>
            <div class="sminputs">
              <div class="input string optional">
                <label class="string optional" for="user-pw">Password *</label>
                <input class="string optional" maxlength="255" id="user-pw" type="text" size="50" ng-model="signUpForm.password"/>
              </div>
              <div class="input string optional">
                <label class="string optional" for="user-pw-repeat">Repeat password *</label>
                <input class="string optional" maxlength="255" id="user-pw-repeat" type="text" size="50" ng-model="signUpForm.repeatPassword"/>
              </div>
            </div>
            <div class="sminputs">
              <div class="input string optional">
                <label class="string optional" for="user-pw">First Name *</label>
                <input class="string optional" maxlength="255" id="user-pw" type="text" size="50" ng-model="signUpForm.firstName"/>
              </div>
              <div class="input string optional">
                <label class="string optional" for="user-pw-repeat">Last Name *</label>
                <input class="string optional" maxlength="255" id="user-pw-repeat" type="text" size="50" ng-model="signUpForm.lastName"/>
              </div>
            </div>
            <div class="sminputs">
              <div class="input string optional">
                <label class="string optional">Mobile *</label>
                <input class="string optional" maxlength="255" id="user-pw" placeholder="Mobile" type="text" size="50" ng-model="tel"/>
              </div>
            </div>
            <div class="simform__actions">
              <button class="sumbit" name="commit" ng-click="signUp()">Create Account</button>
              <span class="simform__actions-sidetext">By creating an account you agree to our <a class="special" href="#" target="_blank" role="link">Terms & Privacy</a></span>
            </div> 
          </form>
        </div> 
        
      </div>
    </div>
    
</script>