<div class="features-wrapper one">
    <div class="container">
      <div class="section-name one">
        	<h2>payment</h2>
        </div>
<hr class="style14">
		<table wt-responsive-table ng-if="trans && trans.length >0">
                <tr>
                    <td>จ่ายไปยังห้อง :</td>
                    <td>{{trans[0].roomName}}</td>
                </tr>
                <tr>
                    <td>จ่ายโดย :</td>
                    <td>{{trans[0].userFirstLastName}}</td>
                </tr>
                <tr>
                    <td>ยอดเงินของท่านคือ :</td>
                    <td>{{trans[0].price | number:0}} บาท</td>
                </tr>
          </table>
        <hr class="style14">
        <input ng-if="trans && trans.length >0" class="btn btn-default" type="file" file-model="fileToUpload"/>

        <button ng-if="trans && trans.length >0" class="btn btn-default" ng-click="uploadFile(trans[0].reserveId,trans[0].userNo)">upload me</button>

        <h2 style="float:center" ng-if="!(trans && trans.length >0)">ยังไม่มีข้อมูลการจ่ายเงิน</h2>

    </div>
  </div>